<!doctype html>
<html lang="en">
	<head>
		<title>News Scraper from Wired!</title>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=.8, shrink-to-fit=no">
		
		<script src="https://code.jquery.com/jquery.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
		<script src="https://use.fontawesome.com/a50ca22383.js"></script>
		<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
		<!-- Custom JavaScript -->
		<!--<script src="/assets/js/main.js"></script>-->
		
		<!-- Custom CSS -->
		<!--<link rel="stylesheet" href="/assets/css/style.css">-->

    <style>
		* {
			font-family: 'Roboto', sans-serif;
		}

		body {
			background-color: rgb(12, 48, 95);
		}

		nav, .navbar-brand {
			background-color: rgb(34, 34, 34);
			font-family: 'Roboto Condensed', sans-serif;
		}

		#scrape {
			background-color: brown;
			color: white;
		}

		#saved {
			background-color: rgb(231, 218, 202);
			color: black;
		}

		.card {
			background-color: rgb(241, 136, 136);
		}

		.card-body {
			background-color:rgb(255, 255, 255);
		}

		.card-header {
			color: black;
		}

		.card-link {
			color: black;
		}
	</style>
	</head>
	<body>
		<nav class="navbar navbar-expand-md navbar-dark mb-4 py-3">
            <div class="mx-auto" style="600px">
				<div class="clearfix">
                <a class="navbar-brand float-left" id="home" href="/">NEWS SCRAPER FOR WIRED!</a>
                <a id="scrape" class="btn mx-1 rounded-0 float-right" href="#">Scrape New Articles!</a>
                <a id="saved" class="btn mx-1 rounded-0 float-right" href="#">Saved Articles</a>
                <!--<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>-->
                <!--<div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active"><a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a></li>
                    </ul>
                </div>-->
				</div>
            </div>
		</nav>
		<div class="container" id="content">
			{{{body}}}
		</div>
		
		<script>
			$("#scrape").on("click", event => {
				$.get("/scrape").then(response => {if (response === true) location.reload();});
			});
		</script>
	</body>
</html>