<!doctype html>
<html lang="en">
	<head>
		<title>News Scraper from Wired!</title>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=.8, shrink-to-fit=no">
		
		<script src="https://code.jquery.com/jquery.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
		<script src="https://use.fontawesome.com/a50ca22383.js"></script>
		<!-- Custom JavaScript -->
		<!--<script src="/assets/js/main.js"></script>-->
		
		<!-- Custom CSS -->
		<!--<link rel="stylesheet" href="/assets/css/style.css">-->

    {{!-- <style>
		#home {
            background-color: green;
		}
	</style> --}}
	</head>
	<body>
		<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
            <div class="mx-auto" style="width: 560px">
                <a class="navbar-brand" id="home" href="/">News Scraper for Wired!</a>
                <a id="scrape" class="btn btn-primary mx-1" href="#">Scrape New Articles!</a>
                <a class="btn btn-warning mx-1" href="#">Saved Articles</a>
                <!--<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>-->
                <!--<div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active"><a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a></li>
                    </ul>
                </div>-->
            </div>
		</nav>
		<div class="container" id="content">
			{{{body}}}
		</div>
		
		<script>
			$("#scrape").on("click", event => {
				$.get("/scrape").then(response => {if (response === true) location.reload();});
			});
		</script>
	</body>
</html>